@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones{
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
    a{
        margin-top:v.$separacion;
        color:v.$blanco;
        display: block;
        margin-bottom: calc(v.$separacion/2);
        text-align: center;
    }
    
}
.centrar{
    display:block;
    text-align:center;
}