@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        min-height: 100vh;
    }
    .imagen{
        height: 20rem;
        background-image: url(../img/1.webp);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            position:fixed;
            width: 50vw;
            height:100vh;
        }
    }
}

.app{
    scroll-behavior: smooth;
    width:95%;
    margin: 0 auto;
    padding:3rem 0;
    @include m.tablet {
        position:absolute;
        width: 45%;
        left:52vw
    }
}

.imagen no-webp{
    background-image: url(../img/1.jpg);
}

.barra{
    margin: 0 2rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    @include m.tablet {
        text-align: left;
        text-wrap:balance;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
    .boton{
        @include m.boton(v.$negro,v.$blanco);
        text-align: center;
        width:90%;
    }
}

.barra-servicios{
    margin-bottom: v.$separacion;
    a{
     border-radius:1rem;

 }   
    @include m.desktop {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        a{
            display:flex;
            align-items: center;
            width:32%;
            height: 7rem;
            .boton{
            text-align: center;
            flex:1 1;
            }
        }
    }
}